<button class="btn btn-primary rounded p-2 m-3" (click)=backToCustomers()><i class="fas fa-angle-double-left"></i></button>

<div class="container mt-3 table-responsive bg bg-white rounded p-3">
    <h3><b>List of Items bought by {{CName}}(ID : {{Customer_ID}}) on {{CDate}}</b></h3>
    <table class="table table-bordered border-dark">
        <thead class="text-center">
            <tr>
                <th>Product_ID</th>
                <th>Brand_Name</th>
                <th>Type</th>
                <th>Color</th>
                <th>Size</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of products">
                <td>{{p.Product_ID}}</td>
                <td>{{p.Brand_Name}}</td>
                <td>{{p.PType}}</td>
                <td>{{p.Color}}</td>
                <td>{{p.Size}}</td>
                <td>Rs.{{p.price}}/-</td>
                <td>{{p.Quantity}}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td class="text-center"><b>Amount</b></td>
                <td colspan="2">Rs.{{Amount}}/-</td>
            </tr>
        </tbody>
    </table>
</div>