body{
    background-image : url("./assets/images/dbms2.jpg");
    background-repeat : repeat-y;
    background-size: 100%;
    background-attachment: fixed;
}


th{
    padding : 20px;
    text-align: center;
}